---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404, I haven't found it">
  <main class="max-w-4xl m-auto min-h-screen flex align-center justify-center flex-col text-center p-6">
    <h1 class="text-4xl font-black mb-6">OMG! the book that you selected doesn't exist</h1>
    <img src="https://media4.giphy.com/media/1n4iuWZFnTeN6qvdpD/giphy.gif?cid=ecf05e472i0yi1n4dgghu5f51uwj3z2wd5e9mshieoy3z6t7&ep=v1_gifs_related&rid=giphy.gif&ct=g">
  </main>
</Layout>