---
export interface Props {
  id: string
  title: string
  img: string
}

const {
  id,
  title, 
  img
} = Astro.props
---

<a
  href={`/${id}`}
  class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl"
>
  <img 
    class="aspect-[389/500] object-cover h-full w-full max-w-full rounded" 
    src={img} 
    alt={`${title} book cover`}
    style={`view-transition-name: book-${id}`}
  >
</a>